@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  padding: 2rem;
  display: flex;
  margin-top: 0.3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 3rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      gap: 2rem;
    }
  }

  &__text {
    color: rgb(0, 0, 0);
    text-align: center;
    @include tablet {
      max-width: 700px;
    }
  }

  &__list {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: sans-serif;
  }

  &__item {
    font-weight: 300;
    &--text {
      font-weight: bold;
    }
    &--italic {
      font-style: italic;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  &__button {
    cursor: pointer;
    width: 50%;
    max-width: 50%;
    margin-top: 1rem;
    @include button;
    @include tablet {
      width: 60%;
      font-size: 1.08rem;
    }
    @include desktop {
      width: 80%;
      padding: 0.8rem;
      font-size: 1.3rem;
    }
  }
}
