@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.testimonials {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(248, 248, 248);
    border-radius: 3%;
    margin: 1rem;
    @include tablet {
        width: 33%;
    }
    @include desktop {
        width: 30%;
    }
  }

  &__text-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    color: #111111;
    font-size: 1rem;
  }

  &__author-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__author {
    font-size: 0.95rem;
    color: rgb(17, 17, 17);
    font-weight: bold;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 0 0;
  }

  &__avatar-container {
    position: relative;
  }

  &__author-link :hover{
    text-decoration: underline;
  }

  &__google-logo {
    position: absolute;
    bottom: 5px;
    right: 0;
    background-color: white;
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 100%;
  }

  &__time {
    font-size: 0.8rem;
  }

  &__star {
    color: gold;
    font-size: 1.5rem;
  }

  &__toggle {
    color: #197bff;
  }

  &__avatar {
    width: 3rem;
  }
}
