@font-face {
    font-family: "PlayfairDisplay";
    src: url("../../assets/font/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../../assets/font/PlayfairDisplay-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../../assets/font/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}