@font-face {
    font-family: "InterTight";
    src: url("../../assets/font/InterTight-Regular.woff2") format("woff2");
    src: url("../../assets/font/InterTight-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "InterTight";
    src: url("../../assets/font/InterTight-Bold.woff2") format("woff2");
    src: url("../../assets/font/InterTight-Bold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
