@use "./variables";

@mixin tablet {
  @media (min-width: variables.$tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: variables.$desktop-breakpoint) {
    @content;
  }
}

@mixin button {
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 0.55rem;
  font-weight: 400;
  background-color: #222222;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
}
