@use "./variables";

@mixin tablet {
  @media (min-width: variables.$tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: variables.$desktop-breakpoint) {
    @content;
  }
}

@mixin button {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid black;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: none;
    background-color: black;
    &::after {
      transform: scaleX(0);
      
    }
  }
}
