@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  position: relative;
  @include tablet {
  }
  @include desktop {
    padding: 0;
    justify-content: flex-start;
    gap: 2rem;
  }

  &__banner {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    @include tablet {
    }
    @include desktop {
      height: 100vh;
    }
  }

  &__container {
    height: 100%;
    width: 100%;
    gap: 2rem;
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.25);
    @include tablet {
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      justify-content: center;
    }
    @include desktop {
    }
  }

  &__header {
    padding: 0 1.5rem;

    &--polish {
      color: $primary-color;
      font-weight: 500;
    }

    &--style {
      color: $primary-color;
      font-weight: 500;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    align-items: center;
  }

  &__text--link {
    border: 2px solid black;
    padding: 0.5rem;
    font-weight: 400;
    @include button
  }

  &__button {
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 30%;
    @include tablet {
    }
    @include desktop {
      flex-direction: row;
    }

    &-primary {
      cursor: pointer;
      width: 60%;
      text-align: center;
      color: $primary-color; 
      height: fit-content;
      &:hover {
        color: $secondary-color;
      }
      @include button;
      @include tablet {
        font-size: 1.3rem;
      }
      @include desktop {
        width: 100%;
      }
    }

  }
}