@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  height: 100vh;
  margin-top: 6rem;
  &-banner {
    width: 100%;
    height: 53vh;
    object-fit: cover;

  }

  &-header {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 2.5rem;
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    color: #888888;
  }

  &-button {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    &__primary {
      background-color: #222222;
      color: #ffffff;
      @include button;
      &-services {
        background-color: #ebebeb;
        color: #333333;
      }
    }
  }

}
