@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  position: relative;
  @include tablet {
  }
  @include desktop {
    padding: 0;
    justify-content: flex-start;
    gap: 2rem;
  }

  &__banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    @include tablet {
    }
    @include desktop {
      height: 100vh;
    }
  }

  &__container {
    height: 100%;
    width: 100%;
    gap: 1rem;
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    @include tablet {
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    @include tablet {
      justify-content: center;
    }
    @include desktop {
    }
  }

  &__header {
    padding: 0 1.5rem;

    &--polish {
      color: #efff62;
      font-style: italic;
      font-weight: 500;
    }

    &--style {
      color: #efff62;
      font-weight: 500;
      font-style: italic;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    color: black;
    align-items: center;
  }

  &__text {
    transition: color 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: max-content;
    @include desktop {
      font-size: 2rem;
    }
  }

  &__text--link {
    border: 2px solid black;
    padding: 0.5rem;
    font-weight: 400;
    @include button
  }

  &__button {
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    @include tablet {
    }
    @include desktop {
      flex-direction: row;
    }

    &-primary {
      cursor: pointer;
      width: 50%;
      text-align: center;
      
      
      @include button;
      @include tablet {
        font-size: 1.3rem;
      }
      @include desktop {
        width: 100%;
      }
    }

  }
}