@use "../../styles/partials/mixins" as *;

.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    @include tablet {
        margin-top: 2rem;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        iframe {
            width: 450px; 
            height: 450px; 
        }
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 3rem 0;
        iframe {
            width: 500px;
        }
    }
&__call {
    color: black;
}
    &__tablet {
        display: flex;
        flex-direction: column;
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include desktop {
            width: 40%;
        }

    }

    &__heading {
        padding: 0.5rem 0;
        font-weight: 400;
    }

    &__socials-container {
        display: flex;
        flex-direction: column;
        @include tablet {
            align-items: center;
            justify-self: center;
        }
        @include desktop {
            width: 40%;
        }
    }

    &__socials {
        display: flex;
        gap: 1rem;
    }

    &__text {
        font-size: 0.85rem;
        width: 10%;
    }

    &__button {
        cursor: pointer;
        background-color: #efefef;
        width: 40%;
        text-align: center;
        margin-top: 1rem;
        border: 1px solid black;
        @include button;
        @include tablet {
            margin-top: 1.5rem;
            width: 50%;
            font-size: 1.3rem;
        }
    }

    &__hours {
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        gap: 1rem;
    }

    &__time {
        text-align: center;
    }

}

.contact__tablet--desktop {
    @include desktop {
        width: 40%;
    }
}