@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;
.contact-header {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  @include tablet {
    text-align: center;
    margin: 0;
  }
}

.contact-footer {
    font-family: sans-serif;
    text-align: center;
    font-size: 0.6rem;
    padding: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  iframe {
    width: 275px;
    height: 275px;
  }
  @include tablet {
    font-size: 1.9rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    iframe {
      width: 450px;
      height: 450px;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    iframe {
      width: 400px;
      height: 300px;
    }
  }
  &__call {
    color: black;
  }

  &__tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include desktop {
      width: 45%;
    }
  }

  &__heading {
    font-weight: 400;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 0.25rem;
  }

  &__address-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: underline;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
    @include tablet {
      align-items: center;
      justify-self: center;
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    color: #000;
    transition: color, background-color 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon:hover {
    color: $secondary-color;
    background-color: black;
  }
  &__text {
    font-size: 0.85rem;
    width: 10%;
  }

  &__button {
    cursor: pointer;
    width: 100%;
    max-width: 65%;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid black;
    @include button;

    @include tablet {
      margin-top: 1.5rem;
      max-width: 14rem;
      font-size: 1rem;
    }
  }

  &__hours {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__time {
    text-align: center;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__desktop-business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__phone {
    text-decoration: underline;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__tiktok-icon {
    font-size: 1.4rem;
  }

  &__instagram-icon {
    font-size: 1.5rem;
  }

  &__google-icon {
    font-size: 1.4rem;
  }
}



.contact__desktop-container {
  @include desktop {
    width: 45%;
  }
}
