@use "../../styles/partials/mixins" as *;

.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    &__heading {
        padding: 0.5rem 0;
        font-weight: 400;
    }
    &__socials-container {
        display: flex;
        flex-direction: column;
    }
    &__socials {
        display: flex;
        gap: 1rem;
    }
    &__text {
        font-size: 0.85rem;
        width: 10%;
    }
    &__button {
        border-radius: 14px;
        background-color: #EFEFEF;
        margin-top: 0.5rem;
        padding: 0.5rem;
        font-weight: 400;
        font-size: 0.9rem;
        width: fit-content;
    }

    &__hours {
        display: flex;
        flex-direction: column;
    }
    &__container {
        display: flex;
        gap: 1rem;
    }
    &__time {
        text-align: center;
    }
}
