@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 2rem;
  z-index: 2;
  @include desktop {
    padding: 1rem 6rem;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      width: 4rem;
    }
    &__hamburger {
      @include tablet {
        display: none;
      }
    }
    &__tablet-nav {
      display: none;
      @include tablet {
        display: flex;
        gap: 1rem;
      }
      @include desktop {
        gap: 2rem;
      }
    }
  }
  &-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    gap: 0.5rem;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    @include tablet {
      display: none;
    }
  }
  &-list__item {
    font-size: 2rem;
    color: black;
    padding: 0 2rem;
  }
}

.navbar-container__tablet-nav li {
  transition: all 0.3s ease;
}

.navbar-container__tablet-nav li:hover {
  transform: translateY(-3px);
}

.navbar-container__tablet-nav li.active {
  font-size: 2.5rem;
  border-bottom: 2px solid black;
}