@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.contact-header {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  @include tablet {
    text-align: center;
    margin: 0;
  }
}

.contact-footer {
  font-family: sans-serif;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  
  @include tablet {
    font-size: 1.9rem;
    align-items: flex-start;
  }
  // @include desktop {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: flex-start;
  // }
  &__call {
    color: black;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    // @include desktop {
    //   padding-top: 1rem;
    //   width: 45%;
    // }
  }

  &__heading {
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 0.25rem;
  }

  &__address-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: underline;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    color: #000;
    transition: color, background-color 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon:hover {
    color: $secondary-color;
    background-color: black;
  }
  &__text {
    font-size: 0.85rem;
    width: 10%;
  }

  &__hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  &__hours {
    @include desktop {
      font-size: 1rem;
    }
  }

  &__container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__time {
    text-align: center;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__phone-container {
    @include tablet {
      display: flex;
      gap: 0.5rem;

    }
  }

  &__phone {
    text-decoration: underline;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__tiktok-icon {
    font-size: 1.4rem;
  }

  &__instagram-icon {
    font-size: 1.5rem;
  }

  &__google-icon {
    font-size: 1.4rem;
  }
}
