.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: rgb(12, 12, 12);

    &__trademark {
        padding-top: 1rem;
    }
    &__trademark-text {
        font-size: 0.5rem;
    }
}