@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.testimonials {
  padding: 2rem;

  &__heading {
    text-align: center;
    padding: 1rem;
    font-family: "PlayfairDisplay", sans-serif;
    @include desktop {
      padding: 0 5rem 2rem 5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__card-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex: 0 0 40%;
    }
    @include desktop {
      flex: 0 0 24%;
    }
  }

  &__button {
    @include button;
    max-width: 11rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.3rem;
      max-width: 14rem;
      margin: 0.5rem;
    }
  }

  &__gallery {
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    font-family: "PlayfairDisplay", sans-serif;
    @include tablet {
      margin: 0;
    }
    @include desktop {
      text-align: left;
      margin-left: 5rem;
    }
  }

  &__photos {
    @include tablet {
      padding: 1rem;
    }
    @include desktop {
      padding: 0 5rem;
    }
  }

}