@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "InterTight", sans-serif;
    font-weight: 300;
    list-style: none;
    line-height: 1.5em;
    text-decoration: none;
}

a {
    color: black;
}

h1 {
    font-weight: 500;
    @include desktop {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    @include desktop {
        font-size: 3.5rem;
    }
}

p {
    font-weight: 300;
    font-size: 1.08rem;
    color: #888888;
    @include desktop {
        font-size: 1.5rem;
    }
}